body{
    margin: 0;
    padding: 0;
    font-family: 'SPANISH_POINTER', sans-serif;
    color: lightgray
}

#circuloCursor {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 96, 255, 0.85);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease;
    z-index: 9999;
  }

.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background-color: #141414; ;
}

.video-fondo{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    mix-blend-mode: lighten;

}


header{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    height:70px;
    background-color:#141414 ;
    backdrop-filter:blur(10px);
    padding: 0 30px;
    box-shadow:0 0 15px #141414;
    z-index:999;

}

.izquierda{
    display: flex;
    align-items: center;
    
}

.izquierda img{
    width: 40px;
    margin-right: 0 15px;
}

header ul{
    display: flex;
    justify-content:  space-between;
    width: 30%;
    padding:15px 15px;
    border-radius: 50px;
    background-color: #312832;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px #4f3650;
}

header ul li{
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin: 0 10px;

}

.box-icons{
    display: flex;
    gap:40px;
}

.box-icons a{
    display:flex;
    align-items: center;
    justify-content: center;  
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid #75337a;
    text-decoration: none;
    color:lightgray;
    border-radius: 50%;
    transition: 0.3s;
}

.box-icons a:hover{
    background-color: #75337a;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 15px #4c2150;
} 


.yoSoy{
    position: relative;
    display:flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-between ;
}

.yoSoy-Info{
    position: absolute;
    left:5%;
}

.yoSoy-Info .yoSoy-Info-titulo{
    color: #c453cc;
    padding:5px 16px;
    border: 1px solid #4c2150;
    width: 240px;
    background-color: #141414;
    box-shadow: 0 0 5px #4c2150;
}

.yoSoy-Info h1{
    font-size: 60px;
    max-width: 600px;
    font-weight: 700;
    line-height:70px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.yoSoy-Info p{
    max-width: 550px;
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 20px;
}


.yoSoy-Info button{
    color:white;
    padding: 15px 35px;
    border: 1px solid #4c2150;
    background-color: #141414;
    box-shadow: 0 0 5px #4c2150;
    cursor: pointer;
    transition: 0.3s;
}

.soyYo-Info button:hover{

    box-shadow: 0 0 15px #4c2150;
}

.gradiente{
    background: linear-gradient(to right, #FFD700, #FFC107,  #D4AF37,#e5ab45, #eb9c52,#dc8b40,#e2af40,#eff140,#e0c429);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation:animate-gradient 2.5s linear infinite;
}

.yoSoyVideo-Box{
    position: absolute;
    right: 7%;
}

.yoSoyVideo-Box video{
    height: 400px;
}


.scroll-abajo{
    height: 50px;
    width: 30px;
    border: 2px solid #75337a;
    position: absolute;
    left:49%;
    bottom: 8%;
    border-radius: 50px;
    cursor:pointer;
    box-shadow: 0 0 15px #4c2150;
}

.scroll-abajo::before,
.scroll-abajo::after{
    content: '';
    position: absolute;
    top: 20%;
    left:50%;
    width: 10px;
    height: 10px;
    border: 2px solid #75337a;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top:transparent;
    border-left:transparent;
    animation: scroll-down 2s ease-in-out infinite;


}

.scroll-abajo::before{
    top: 30%;
    animation-delay: 0.5s;

}


@keyframes scroll-down {
    0%{
        opacity: 0;    }
    30%, 60%{
        opacity: 1;
        }

    100%{
        top:90%;
        opacity: 0;
    }
}




















@font-face{
    font-family: 'SPANISH_POINTER';
    src: url('/fuentes/Cinzel-VariableFont_wght.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
  }


@media (max-aspect-ratio: 16/9){
    .video-fondo{
        width: auto;
        height: 100%;
    }
}

@media (min-aspect-ratio: 16/9){
    .video-fondo{
        width: 100%;
        height: auto;
    }
}


@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}